.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  /* background-color: #5eaa91; */
   background-color: #98b8ad;
}


input {
  height: 3rem;
  width: 22rem;
  font-size: large;
  border-radius: 0.4rem;
  border: 0.1rem solid #9e9e9e;
  opacity: 0.75;
  color: #010101;
  padding-left: 1rem;
  outline: none;
  box-shadow: 0 2px 8px rgba(59,64,69,0.1);
}

input:focus {
  border-radius: 0.5rem;
  border: 0.1rem solid #9cecf7;
 
}

button {
  border-radius: 0.4rem;
  border: none; 
  height: 3rem;
  font-size: large;
  outline: none;
  box-shadow: 0 2px 8px rgba(59,64,69,0.1);
}

a {
  text-decoration: none !important;
  color: inherit;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #075448; 
}

::-webkit-scrollbar-thumb {
  background: #069b85; 
}

::-webkit-scrollbar-thumb:hover {
  background: #15a892; 
}