
.generate-url-component {
    display: flex;
    justify-content: center;
    margin: 1.8rem;
    width: 100%;
}

.url-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    box-shadow: 0 0.2rem 0.3rem rgba(59,64,69,0.25);
    border-radius: 0.4rem;
}

.url-input-container input{
    height: 3rem;
    font-size: large;
}

.url-input {
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0.1rem solid #5e5e5e;
}

.url-input:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.uniqid-input {
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0.1rem solid #5e5e5e;
}

.uniqid-input:focus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.generate-buton{
    background-color: #166D64;
    border: 0.1rem solid transparent;
    cursor: pointer;
    height: 2.9rem;
    font-size: large;
    font-weight: 600;
    width: 15%;
    margin-left: 1rem;
    color: #dadada;
    box-shadow: 0 0.2rem 0.3rem rgba(59,64,69,0.25);
}

.generate-buton:hover {
    background-color: #278d83;
    border: 0.1rem solid #a9d8d3;
}

.url-result-container {
    width: 70%;
    display: flex;
    margin: 0.5rem 5rem 2rem 0.5rem;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0.2rem 0.3rem rgba(59,64,69,0.25);
    border-radius: 0.4rem;
}

.shortened-url {
    resize: none;
    height: 2rem;
    width: 80%;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: #eaeaea;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    line-height: 2rem;
    outline: none;
    padding: 0;
    color: #030303;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.copy-url-button {
    width: 20%;
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #1B2A3A;
    color: #dadada;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
}

.copy-url-button:hover {
    background-color: #2d3c4b;
}

.copy-url-button:active {
    background-color: #4b5f74;
}
