.url-list-container {
    display: flex;
    flex-direction: column;
}

.url-item-container {
    display: flex;
    flex-direction: row;
    background: #dedede;
    margin: 0 0 0.5rem 0;
    padding: 1rem 4.5rem;
    justify-content: space-between;
    text-align: left;
    transition: transform .2s; 
}

.url-item-container:hover {
    transform: scale(1.02);
  }

.original-url {
    font-size: 0.9rem;
}

.shorted-url {
    font-size: 1.1rem;
}

